.form-check {
  padding: 0;
  width: 100%;
}

.search-input {
  background-color: $white;
  position: relative;
  height: 44px;
  .form-control {
    height: 100%;
    border-radius: 0 !important;
    border-bottom-right-radius: 2px !important;
    border-top-right-radius: 2px !important;
    border: 0;
    box-shadow: $shadow-style-card;
    color: $green-dark;
    font-size: 1rem;
    padding: px-to-rem(10) px-to-rem(16);
    width: 100%;
  }

  &__icon {
    color: #989898;
    font-size: px-to-rem(24);
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
}
