// Pagination
.pagination {
  $parent: &;
  $margin: px-to-rem(48);
  margin-top: $margin - 1rem;
  margin-bottom: $margin - 1rem;
  padding: 0;
  text-align: right;

  ul {
    margin: 0;
    padding: 0;
  }

  &__item {
    display: inline-block;
    margin: 0 0 0 6px;
  }

  a,
  #{$parent}__item__archor {
    background-color: transparent;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 2px 1px -1px rgba(0, 0, 0, 0.12),
      0 1px 3px 0 rgba(0, 0, 0, 0.2);
    color: $green-dark;
    display: block;
    font-size: 1rem;
    font-weight: 300;
    outline: none;
    padding: 0.4em 0.8em;
  }

  &__item--active {
    #{$parent}__item__archor {
      background-color: $green-dark;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
      color: $white;
      pointer-events: none;
    }
  }

  &__item--break {
    color: $gray-dark;
  }

  #{$parent}__item__archor {
    cursor: pointer;
  }

  &__item--no-display {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}
