.stat-card {
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
    color: $gray-dark;
    position: relative;
    transition: box-shadow 160ms ease-in-out;
    z-index: 1;
    &__variant {
        cursor: default;
        box-shadow: none;
        transition: none;
        &:focus,
        &:hover {
            box-shadow: none !important;
        }
    }
    &:focus,
    &:hover {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.24);
    }
    min-height: 120px;
    padding-left: 80px;
    position: relative;
    &__image {
        left: 10px;
        position: absolute;
    }
    &__centered {
        padding-left: 0px;
        .stat-card__image {
            left: 0px;
            position: relative;
        }
        .stat-card__content {
            text-align: center;
            padding-bottom: 20px;
        }
    }
    &__thumbnail {
        background-color: rgba(0, 0, 0, 0.03);
        border-radius: 50%;
        margin: auto;
        height: px-to-rem(68);
        width: px-to-rem(68);
        background: {
            position: top;
            repeat: no-repeat;
            size: cover;
        }

        img {
            display: none;
        }
    }
    &__content {
        padding: 15px 18px;
        text-align: left;
        .variant {
            margin-top: 0px;
        }
    }
}
