.react-tabs {
  $parent: &;
  &__tab-list {
    clear: both;
    display: table;
    margin: 0 0 30px;
    padding: 0;
    table-layout: fixed;
    width: 100%;
  }
  &__tab {
    border-bottom: 1px solid $gray-light;
    color: $green-dark;
    cursor: pointer;
    display: table-cell;
    list-style: none;
    padding: 13px 13px 16px;
    position: relative;
    text-align: center;
    width: auto;
    &--selected {
      background: $green;
      color: white;
      // border-bottom: 2px solid $green-light;
      border-radius: 5px;
      font-weight: 600;
      padding: 13px 13px 15px;
    }
  }
  &__tab-panel {
    display: none;
    &--selected {
      display: block;
    }
    &--disabled {
      color: rgba(0, 0, 0, 0.24);
      cursor: default;
    }
  } // Modifier
  &--2-tabs {
    #{$parent}__tab-list {
      display: block;
    }
    #{$parent}__tab {
      display: inline-block;
      width: 50%;
    }
  }
}
