.login {
  // background-color: $gray-lighter;
  background-image: url('/images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  // color: white !important;

  // input, i {
  //   color: white !important;
  // }

  min-height: 100vh;
  padding: 100px 0;
  text-align: center;
  &__content {
    background-color: #ffffff57;
    display: inline-block;
    margin: 0 auto;
    // min-width: 632px;
    overflow: hidden;
    position: relative;
    text-align: left;
  }
  &__body {
    padding: 25px 25px 50px 25px;
  }
  &__header {
    background-color: white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 130px;
    overflow: hidden;
    position: relative;
    text-align: center;
    z-index: 1;
  }
  &__logo {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    background-image: url('/images/logo.svg');
    background-position: center center;
    background-repeat: no-repeat;
    height: 130px;
    margin: auto;
    width: 301px;
    &:before {
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 130px;
      margin: 0 auto;
      opacity: 0.3;
      content: '';
      background-image: radial-gradient(circle, white 0%, white 100%);
    }
  }
}

.welcome {
  &__content {
    background-color: white;
    border-radius: 12px;
    display: inline-block;
    margin: 0 auto;
    min-width: 632px;
    width: 75%;
    overflow: hidden;
    position: relative;
    text-align: left;
  }

  &__body {
    padding: 25px 50px 50px 50px;
  }
  &__logo {
    background-image: url('/images/logo.svg');
    background-position: center center;
    background-repeat: no-repeat;
    height: 130px;
    margin: auto;
    width: 301px;
    &:before {
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 130px;
      margin: 0 auto;
      opacity: 0.3;
      content: '';
      background-image: radial-gradient(circle, white 0%, white 100%);
    }
  }
}
