.badge {
  background-clip: padding-box;
  background-color: $secondary;
  border-radius: 2px;
  color: #fff;
  display: none;
  font-size: 0.8rem;
  font-weight: $font-weight-semibold;
  line-height: 1.3;
  min-width: 14px;
  padding: 1px 4px;
  cursor: default;
  position: absolute;
  text-align: center;
  &--active {
    display: block;
  }
}

.mdi--badge {
  display: block;
  height: 27px;
  overflow: hidden;
  width: 27px;
}
