.card.card--user {
  $block: 'card-user';
  border-radius: 2px;
  background-color: $white;
  border: 0;
  box-shadow: $shadow-style-card;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  min-height: 340px;
  padding-bottom: 1.71428571rem;
  padding-bottom: px-to-rem(24);
  padding: px-to-rem(16);

  .card-img-top {
    background-position: top center;
    background-size: cover;
    border-radius: 50%;
    display: block;
    height: 80px;
    margin-bottom: px-to-rem(16);
    margin: 0 auto;
    width: 80px;
  }

  .card__header {
    margin-bottom: 1rem;
  }

  .card-title {
    height: 40px;
  }

  .card-title,
  .card-subheading,
  .card-subtitle {
    display: block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.13px;
    margin-bottom: 0.75em;
  }
  .card-subtitle,
  .card-subheading {
    font-size: 1rem;
    font-weight: 500;
  }

  .card-subtitle {
    font-weight: 300;
    margin-bottom: 0;
  }

  .card__description {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    padding-top: 1rem;
  }
  .user-system-desc {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 17px;
    padding: 0 1em;
  }

  .user-label-desc {
    color: $text-color;
    display: block;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 0.4em;
    opacity: 0.87;
  }
}
