.rdtPicker {
  border: 0;
  color: $gray-medium;
  margin: 0;
  margin-top: 1rem;
  padding: 1rem 0.25rem;
  width: px-to-rem(265);

  .dow {
    color: #989898;
  }

  td {
    height: px-to-rem(39);
  }

  td.rdtDay {
    border-radius: 50%;
    font-size: 1rem;
    padding: 0;
  }

  td.rdtActive,
  td.rdtActive:hover {
    font-size: 1rem;
    text-shadow: none;
  }

  th {
    border: none;
    border-bottom: none;
  }

  th.rdtNext,
  th.rdtPrev {
    align-items: center;
    background: trasparent;
    border-radius: 50%;
    color: $green;
    display: flex;
    font-size: px-to-rem(22);
    height: 1em;
    justify-content: center;
    margin: 0 0.25em;
    padding: 0;
    width: 1em;

    &:hover {
      background: transparent !important;
    }

    span {
      font-size: px-to-rem(24);
      font-weight: 400;
    }
  }

  td.rdtActive.rdtToday:before {
    display: none;
  }

  .rdtMonths,
  .rdtYears {
    color: $green;
    td.rdtActive,
    td.rdtActive:hover {
      color: $green;
      border-radius: 4px;
      background-color: rgba(0, 125, 195, 0.12);
    }
  }
}

.datetime-input-alternative {
  display: inline-block;
  margin: 0 0 0 6px;
  background-color: $green-transparent;
  border-radius: 2px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1),
  0 2px 1px -1px rgba(0, 0, 0, 0.12),
  0 1px 3px 0 rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  font-weight: 300;
  outline: none;
  padding: 0.55em 0em 0em;

  .rdtPicker {
    left: -50px;
  }

  label {
    margin-bottom: 0px;
  }

  a,
  a:hover {
    color: $green-light !important;
    cursor: pointer;
  }

  a:focus {
    color: $green-light !important;
    border: 0;
    box-shadow: none;
  }

  div {
    input {
      border: 0;
      text-align: center;
      color: $green-light;
      font-weight: 600;
    }
    input:focus {
      box-shadow: none;
      color: $green-light;
      font-weight: 600;
    }
  }
  &__left,&__right {
    padding: 0.2em 0.2em 0.3em;
    font-size: 26px;
  }
}

.datetime-input__icon {
  font-size: 1.71428571rem;
  position: absolute;
  right: 15px;
  margin-top: 5px;
  color: $green-light;
}
