.notification-card {
  background: rgba(250, 250, 250, 1);
  color: $gray-dark;
  margin-bottom: px-to-rem(9);
  position: relative;
  z-index: 1;

  &__seen {
    background: $white;
  }

  &__content {
    p {
      color: $text-color;
      font-weight: 300;

      strong {
        font-weight: 500 !important;
        color: rgba(56, 56, 56, 0.87) !important;
      }
    }
  }

  &:not(:last-child) {
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: px-to-rem(9);
  }

  &__name {
    color: rgba(56, 56, 56, 0.87);
    font-size: 1rem;
    font-weight: 500;
  }

  &__thumbnail {
    border-radius: 50%;
    display: inline-block;
    height: px-to-rem(48);
    margin: 0;
    width: px-to-rem(48);
    background: {
      position: top;
      repeat: no-repeat;
      size: cover;
    }

    img {
      display: none;
    }
  }

  &__centered {
    padding-left: 0px;
    .notification-card__image {
      left: 0px;
      position: relative;
    }
    .notification-card__content {
      text-align: center;
      padding-bottom: 20px;
    }
  }

}
