@import './mixins.scss';

/* ------------------------------------------------------------ */

// Neutral Colors
$gray-base: #000 !default;
$black: #000 !default;
$white: #fff;

$gray-background-variant: #f8f8f8;
$gray-background: #fefefe;
$gray-dark: rgba(0, 0, 0, 0.87);
$gray-darker: lighten($gray-base, 13.5%) !default; // #222
$gray-light: #e0dfe0;
$gray-lighter: #f2f2f2;
$gray-medium: #383838;
$gray-shadow: rgba(0, 0, 0, 0.24);
$gray: #9a9a9a;

// theme-colors
$green: #003833;
$primary: #003833;
$green-dark: darken($green, 2%);
$blue: #007dc3;
$blue-dark: #1a3668;
$green-transparent: rgba(0, 125, 195, 0.08);
$green-light: lighten($green, 15%);
$secondary: $green;
// Text Colors
$headings-color: $gray-medium !default;
$text-color: #383838 !default;
$primary-main-color: $green;
$secondary-main-color: $green;
$tertiary-main-color: $green;
$placeholder-color: #cdcdcd;
// Fonts
$font-family: 'Black Ops One', sans-serif !default;
$font-size: 1.8 !default;
$font-weight-lighter: 300;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 500;
$font-weight-bold: 600;
$font-weight-bolder: 800;
$font-weight: $font-weight-regular !default;

//Transitions
$hover-transition-default: background 0.25s ease-in-out;
$border-color-transition: border-color 0.25s ease-in-out;
$border-width-transition: border-size 0.005s ease-in-out;
// Shadows
$shadow-style-card: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
$shadow-style-card-back: 0px 2px 12px 15px rgba(0, 0, 0, 0.2);
$shadow-style-growler: 0px 3px 15px 0px rgba(0, 0, 0, 0.2);
$shadow-style-user-img: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
$shadow-style-sidebar-right: -5px 0px 15px -5px rgba(0, 0, 0, 0.25);
$shadow-style-sidebar-left: 5px 0px 15px -5px rgba(0, 0, 0, 0.25);

$grid-gutter-width: 32px;
$header-height: px-to-rem(90);

/* ------------------------------------------------------------ */

/*  Base */

/* ------------------------------------------------------------ */

/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
  width: 10px; /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.07);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
  /* This is the EXACT color of Mac OS scrollbars.
     Yes, I pulled out digital color meter */
  background: rgba(0, 0, 0, 0.4);
  border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
  min-height: 10px; /*Prevent it from getting too small */
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0, 0, 0, 0.6); /* Some darker color when you click it */
  border-radius: 100px;
}

html {
  font-size: 14px;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #fafafa !important;
  // overflow: hidden;
}

.option-icon {
  font-size: 28px;
  color: white;
  cursor: pointer;
  background: $green;
  border-radius: 50%;
  padding: 5px 8px 4px;

  &:hover{
    background: $green-light;
  }
}

@media print {
  .page-break {
    display: block;
    page-break-after: always;
  }
}

.has-success,.has-error {
  margin-top: 15px;
  margin-bottom: 15px;
}

.has-success {
  .help-block {
    color: #1d521d;
  }
}

.has-error {
  .help-block {
    color: #941313;
  }
}

.wait {
  cursor: wait !important;
  pointer-events: none !important;
}

body {
  background-color: #f8f8f8;
  color: $text-color;
  position: relative;
}

a {
  color: $green-light;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

p {
  margin-bottom: 0.5em;
}

b {
  font-weight: $font-weight-semibold;
}

img {
  max-width: 100%;
}

::-webkit-credentials-auto-fill-button {
  margin-right: 30px;
}

.md-switch.react-toggle.react-toggle--checked .react-toggle-track {
  background-color: $green;
  border-radius: px-to-rem(7);
  height: px-to-rem(14);
  width: px-to-rem(40);
}

.md-switch.react-toggle:hover .react-toggle-track {
  background-color: #949ca1;
}

.md-switch.react-toggle .react-toggle-track {
  background-color: #949ca1;
  border-radius: px-to-rem(7);
  height: px-to-rem(14);
  width: px-to-rem(40);
}

.md-switch .react-toggle-track {
  height: px-to-rem(14);
  width: px-to-rem(40);
}

.md-switch.react-toggle .react-toggle-thumb {
  left: 0;
}

.md-switch.react-toggle.react-toggle--checked .react-toggle-thumb {
  left: calc(100% - 18px);
}

.md-switch.react-toggle .react-toggle-thumb,
.md-switch.react-toggle.react-toggle--checked .react-toggle-thumb {
  background-color: $white;
  border: none;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12),
    0 1px 3px 0 rgba(0, 0, 0, 0.2);
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
}
.md-switch.react-toggle.react-toggle--checked:hover:not(.react-toggle--disabled)
  .react-toggle-track {
  background: $green;
}

.rc-steps-item-wait {
  .rc-steps-item-icon {
    background: #989898;
    border: none;

    .rc-steps-icon {
      color: white;
    }
  }
  .rc-steps-item-title {
    color: #989898;
    font-weight: 400;
    text-transform: none;
  }
}
.rc-steps-item-wait,
.rc-steps-item-process {
  .rc-steps-item-tail:after {
    background-color: #f1f1f1;
  }

  .rc-steps-item-icon {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: px-to-rem(24);
    justify-content: center;
    line-height: 1;
    margin-right: px-to-rem(24);
    padding: 0.5em;
    width: px-to-rem(24);

    .rc-steps-icon {
      color: white;
      font-size: px-to-rem(20);
      font-weight: 500;
      line-height: 1;
    }
  }
}
.rc-steps-item-process,
.rc-steps-item-finish {
  .rc-steps-item-icon {
    background: $green-dark;
    border-color: $green-dark;
    border: none;

    .rc-steps-icon {
      color: $white;
    }
  }

  .rc-steps-item-title {
    color: $green-dark;
  }
}

.__react_component_tooltip.show {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.12), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
  opacity: 1;
  pointer-events: all;
}

.Select--multi {
  &.Tag {
    margin: 4px;
  }

  .Select-multi-value-wrapper {
    align-items: center;
    display: flex;
    flex-flow: row wrap;

    > *,
    .Select-value,
    .Select-input {
      margin: 4px;
    }
  }

  .Select-value {
    align-items: center;
    background-color: #f2f9fc;
    border-radius: 2px;
    border: none;
    color: #383838;
    display: inline-flex;
    font-size: 1rem;
    font-weight: 500;
    justify-content: space-between;
    margin: 0;
    padding: px-to-rem(5) px-to-rem(8);
    vertical-align: top;
  }

  .Select-value-icon {
    align-items: center;
    background: rgba(0, 0, 0, 0.54);
    border-radius: 50%;
    color: $white;
    cursor: pointer;
    display: flex;
    font-size: 12px;
    height: 0.2em;
    justify-content: center;
    order: 3;
    padding: 0.5em;
    width: 0.2em;

    &:hover {
      background: rgba(0, 0, 0, 0.64);
      color: $white;
    }
  }

  .Select-input {
    align-items: center;
    display: flex !important;
    height: auto !important;
  }
}
