/* Position and sizing of burger button */
.bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    top: 30px;
    left: initial;
    right: 36px;
}

.bm-menu-wrap {
    top: 0px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #cac1c1;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
    height: 20px;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: $primary;
    padding: 0.5em 1.5em 0;
    font-size: 1.15em;
    a, span {
        color: white;
        text-decoration: none;
    }
}

a.bm-item:hover {
    background: $green-light !important;
    color: white !important;
}

.bm-item:focus {
    outline: none;

}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

.bm-item-list a {
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    &--active {
        background: $green-light;
        color: white;
    }
    display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}
