%btn-default {
  align-items: center;
  background-color: $green-transparent;
  border-radius: 4px !important;
  border: 1px solid transparent;
  box-shadow: none;
  color: $green;
  display: inline-flex;
  font-size: px-to-rem(14);
  font-weight: 500 !important;
  justify-content: center;
  letter-spacing: 0.5px;
  outline: none;
  position: relative;
  transition: all 150ms ease-in-out;

  &:disabled,
  .btn-disabled,
  [disabled] {
    background: #f1f1f1 !important;
    border-color: #f1f1f1 !important;
    color: #989898 !important;
  }

  &:active,
  &:focus {
    box-shadow: none !important;
  }
}

.btn {
  @extend %btn-default;
  .mdi {
    display: inline-block;
    font-size: 1.5em;
    margin-right: 0.25em;
    vertical-align: middle;
  }

  &.btn-outline {
    border-color: $primary;
    background-color: transparent;
  }

  &.btn-primary {
    @extend %btn-default;
    background-color: $primary;
    color: $white;
    &.btn-outline {
      border-color: $primary;
    }
  }

  &.btn-secondary {
    @extend %btn-default;
    color: $secondary;

    &.btn-outline {
      border-color: $secondary;
    }

    &--active {
      background-color: lighten($secondary, 2%);
      color: $white;
    }
  }

  &.btn-link {
    @extend %btn-default;
    background: $green-transparent;
    box-shadow: none;
    color: $green;
    font-size: 1rem;
    padding: 0 0.75em;

    &.btn-error {
      &:hover {
        color: $secondary;
      }
    }

    &:hover {
      text-decoration: none;
    }

    &.btn-outline {
      border-color: $green-transparent;
    }

    &:hover {
      background: $green-transparent;
      color: $green;
      text-decoration: none;
    }

    .mdi {
      font-size: 1.5em;
    }
  }

  &.btn-grey {
    background: transparent;
    color: $placeholder-color;
    font-weight: normal;

    &.btn-outline {
      border-color: $placeholder-color;
    }

    &:hover,
    &:active {
      background: transparent;
      color: $placeholder-color;
    }
  }

  &.btn-transparent {
    background-color: transparent;
    &:hover {
      background-color: transparent;
    }
  }
}
.btn-group {
  .btn {
    width: 100%;
  }
}

.btn-group.row [class*='col'] {
  padding: 8px;
}
