/* ------------------------------------------------------------ */

/*  Content - Common Layout */

/* ------------------------------------------------------------ */

.layout {
  width: 100%;
  height: 100%;
}

.layout-main {
  height: 100%;
  padding-top: 102px;
  padding-left: 278px;
  transition: padding-left 160ms ease-in-out;
  .layout--sidebar-collapsed & {
    padding-left: 56px;
  }

  &__responsive {
    padding-left: px-to-rem(1);
    padding-right: px-to-rem(1);
  }

  &__no-sidebar {
    padding-left: px-to-rem(68);
    padding-right: px-to-rem(68);
  }
}

// Media Print
@media only print {
  html,
  body {
    min-width: 26cm;
  }
  .layout-header,
  .layout-sidebar {
    display: none !important;
  }
  .layout-main {
    padding: 0 !important;
  }
}

.layout-body {
  background-color: rgba(250, 250, 250, 1);
  padding-bottom: 30px;
  &__header {
    padding: px-to-rem(30) px-to-rem(40) 0;
  }
  &__footer {
    min-height: 80px;
    padding-bottom: 50px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 20px;
  }
  &__mid {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 30px;
    .row {
      margin-left: -7px;
      margin-right: -7px;
    }
    div[class^='col-'],
    div[class*=' col-'] {
      padding-left: 7px;
      padding-right: 7px;
    }
    &--variant {
      .row {
        margin-left: -7px;
        margin-right: -7px;
      }
      div[class^='col-'],
      div[class*=' col-'] {
        padding-left: 7px;
        padding-right: 7px;
      }
    }
  }
  &__content {
    padding: px-to-rem(24) px-to-rem(16) 0;
    &--variant {
      padding-left: 0;
      padding-right: 0;
    }
    &--gray-background {
      background-color: rgba(250, 250, 250, 1);
    }
    &--white-background {
      background-color: rgba(255, 255, 255, 1);
    }
    &--negative-margin {
      margin-left: -45px;
      margin-right: -45px;
    }
    &--border-bottom {
      border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    }
    &--border-top {
      border-top: 1px solid rgba(0, 0, 0, 0.16);
    }
  } // Pagination styles is in its own file
  // Modifiers
  &--creation-form {
    .layout-body__header {
      padding-top: 29px;
    }
  }
}

.layout-body__subtitle {
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);
  padding-bottom: 8px;
  margin-top: 26px;
  margin-bottom: 24px;
  .subtitle {
    display: inline-block;
    margin: 2px 8px 4px 0;
    vertical-align: middle;
  }
  .description {
    display: inline-block;
    font-size: 1.4rem;
    vertical-align: middle;
  }
  .btn {
    height: auto;
    min-width: 100px;
  }
  &--variant {
    margin-bottom: 0;
  }
  &--less-margin {
    margin-bottom: 12px;
    margin-top: 18px;
  }
}

.layout-profile {
  position: relative;
  &__aside {
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 200px;
  }
  &__picture {
    margin-bottom: 12px;
  }
  &__thumbnail {
    background-color: rgba(0, 0, 0, 0.05);
    background-position: center center;
    background-size: cover;
    height: 200px;
    width: 200px;
  }
  &__pointer {
    cursor: pointer;
  }
  &__content {
    padding-left: 230px;
  }
}
