// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Centered container
@mixin center-container($defaultValue: 1300px) {
  @include center-block;
  max-width: $defaultValue;
}

@function px-to-rem($pxs, $base: 14) {
  @return $pxs / $base * 1rem;
}
