/* ------------------------------------------------------------ */

/*  Default typography */

/* ------------------------------------------------------------ */
@import 'fonts/font-face';
body,
button,
input,
select,
textarea {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  color: $headings-color;
  font-family: $font-family;
  font-feature-settings: 'pnum';
  font-size: 1rem;
  font-style: normal;
  font-variant-numeric: proportional-nums;
  font-weight: normal;
  line-height: 1;
  text-rendering: optimizeLegibility;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $headings-color;
  font-family: $font-family;
  font-weight: $font-weight-semibold;
}

h1 {
  font-size: 2.8rem;
  line-height: 32px;
  margin-bottom: 30px;
}

h2 {
  font-size: 2rem;
  line-height: 24px;
  margin: 0;
}

h3 {
  font-size: 1.8rem;
  line-height: 22px;
  margin: 0;
}

h4 {
  font-size: 1rem;
  line-height: 20px;
  margin: 0;
}

h5 {
  font-size: 1.4rem;
  margin: 0;
}

h6 {
  font-size: 1.2rem;
  margin: 0;
}

strong {
  color: $green-dark;
}

.section-headline {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.86px;
  line-height: 29px;
}

// Text Sizes
.fs-56 {
  font-size: px-to-rem(56);
}

.fs-48 {
  font-size: px-to-rem(48);
}

.fs-36 {
  font-size: px-to-rem(36);
}

.fs-28 {
  font-size: px-to-rem(28);
}

.fs-20 {
  font-size: px-to-rem(20);
}

.fs-18 {
  font-size: px-to-rem(18);
}

.fs-12 {
  font-size: px-to-rem(12);
}

.text--italic {
  font-style: italic;
}

// Text Positions
.text--align-left {
  text-align: left;
}

.text--align-right {
  text-align: right;
}

.text--align-center {
  text-align: center;
}

// Text Variants
.text--underline {
  text-decoration: underline;
}

.text--uppercase {
  text-transform: uppercase;
}

// Text Weights
.text--weight-light {
  font-weight: $font-weight-light;
}

.text--weight-regular {
  font-weight: $font-weight-regular;
}

.text--weight-semibold {
  font-weight: $font-weight-semibold;
}

.text--weight-bold {
  font-weight: $font-weight-bold;
}

.text--weight-bolder {
  font-weight: $font-weight-bolder;
}

//  Text colors
.text--graylight {
  color: $gray-light;
}

.text--normal {
  color: $headings-color !important;
}

.text--graydark {
  color: $gray-dark;
  text-shadow: none;
}

.text--graymedium {
  color: #969191;
}

.text--gray {
  color: $gray;
}

.text--white {
  color: white;
}

.text--blue {
  color: $green;
}

.text--blue-light {
  color: $green-light;
}

.text--blue-dark {
  color: $green-dark;
}

.text--red-dark {
  color: $secondary;
}

// Placeholders
:-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: $placeholder-color;
}
