/* ------------------------------------------------------------ */

/*  Floats */

/* ------------------------------------------------------------ */

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.float-none {
  float: none !important;
}

.paragraph {
  line-height: 1.6;
  white-space: pre-wrap;
}

/* --------------------- */

/* Displays */

/* --------------------- */

.display--block {
  display: block;
}

.display--inline-block {
  display: inline-block;
}

.vertical-align--top {
  vertical-align: top;
}

.vertical-align--middle {
  vertical-align: middle;
}

.vertical-align--bottom {
  vertical-align: bottom;
}

/* --------------------- */

/* Margins and paddings */

/* --------------------- */

.right {
  right: 10px;
}

.left {
  left: 10px;
}

.left30 {
  left: 30px;
}

.mg0 {
  margin: 0 !important;
}

.mg1 {
  margin: 100px;
}

.mgG {
  margin: 10px;
}

.mgB {
  margin-bottom: 10px;
}

.mgT {
  margin-top: 10px;
}

.mgL {
  margin-left: 10px;
}

.mgR {
  margin-right: 10px;
}

.mgR0 {
  margin-right: 0px !important;
}

.mgL0 {
  margin-left: 0px !important;
}

.mgB0 {
  margin-bottom: 0 !important;
}

.invisible {
  visibility: hidden;
  pointer-events: none;
}

.mgB15 {
  margin-bottom: 15px;
}

.mgB2 {
  margin-bottom: 20px;
}

.mgB3 {
  margin-bottom: 30px;
}

.mgB10 {
  margin-bottom: 100px;
}

.mgR2 {
  margin-right: 20px;
}

.mgR3 {
  margin-right: 20px;
}

.mgR0 {
  margin-right: 0px;
}

.mgL2 {
  margin-left: 20px;
}

.mgL0 {
  margin-left: 0px;
}

.mgB5 {
  margin-bottom: 50px;
}

.mgB7 {
  margin-bottom: 70px;
}

.mgB45 {
  margin-bottom: 45px;
}

.mgT0 {
  margin-top: 0 !important;
}

.mgT15 {
  margin-top: 15px;
}

.mgT2 {
  margin-top: 20px;
}

.mgT4 {
  margin-top: 40px;
}

.mgT5 {
  margin-top: 50px;
}

.pd0 {
  padding: 0 !important;
}

.pd1 {
  padding: 100px;
}

.pdG {
  padding: 10px;
}

.pd3 {
  padding: 30px !important;
}

.pd2 {
  padding: 20px !important;
}

.pd5 {
  padding: 50px !important;
}

.pdB {
  padding-bottom: 10px;
}

.pdT15 {
  padding-top: 15px;
}

.pdT {
  padding-top: 10px;
}

.pdL0 {
  padding-left: 0px !important;
}

.pdR0 {
  padding-right: 0px !important;
}

.pdL {
  padding-left: 10px;
}

.pdR {
  padding-right: 10px;
}

.pdR5 {
  padding-right: 50px;
}

.pdB0 {
  padding-bottom: 0 !important;
}

.pdB15 {
  padding-bottom: 15px;
}

.pdB2 {
  padding-bottom: 20px;
}

.pdR2 {
  padding-right: 20px;
}

.pdL2 {
  padding-left: 20px;
}

.pdL5 {
  padding-left: 50px;
}

.pdB5 {
  padding-bottom: 50px;
}

.pdB45 {
  padding-bottom: 45px;
}

.pdT0 {
  padding-top: 0 !important;
}

.pdT15 {
  padding-top: 15px;
}

.pdT2 {
  padding-top: 20px;
}

.pdT5 {
  padding-top: 50px;
}

.pdT7 {
  padding-top: 70px;
}

/* ------------------------------------------------------------ */

/*  Row variant */

/* ------------------------------------------------------------ */

.row--variant {
  margin-left: -7px;
  margin-right: -7px;
  div[class^='col-'],
  div[class*=' col-'] {
    padding-left: 7px;
    padding-right: 7px;
  }
}

/* ------------------------------------------------------------ */

/*  Miscellaneous */

/* ------------------------------------------------------------ */

.breakLine {
  white-space: pre-wrap;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
  pointer-events: inherit
}

.no-border {
  border: 0 !important;
}

.height5 {
  height: 50px !important;
}

.full-height {
  height: 100%;
}

.disabled {
  pointer-events: unset;
  opacity: 0.4;
  cursor: not-allowed;
}

.vertical--center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.small-border {
  border: 1px solid $gray;
}

.small-border-bottom {
  border-bottom: 1px solid $gray;
}

.small-border-left {
  border-left: 1px solid $gray;
}

.small-border-right {
  border-right: 1px solid $gray;
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

.border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.16);
}

.hr {
  border-top: 1px solid $green-dark;
  margin-top: 30px;
  margin-bottom: 30px;
  &--variant {
    border-top: 1px solid $gray;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  &--smaller {
    border-top: 1px solid $gray-light;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  &--dashed {
    border-top-style: dashed;
  }
}

.bordered {
  border: 1px solid $gray-light !important;
}

.blocked {
  pointer-events: none;
}

.display--inline-flex {
  display: inline-flex !important;
}

.screen-reader-text {
  display: none;
}

.full-width {
  width: 100% !important;
}

.no-action {
  pointer-events: none;
}

.align-center {
  margin: auto !important;
  width: 40%;
}

// Backgrounds
.gray-background {
  background-color: rgba(250, 250, 250, 1);
}

.white-background {
  background-color: rgba(255, 255, 255, 1);
}

.fixed {
    position: fixed;
}

.footer.row {
  margin-top: 25px;
  width: 100%;
}
