// Sidebar
.layout-sidebar {
  $parent: &;
  background-color: $white;
  bottom: 0;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.12);
  height: 100%;
  left: 0;
  overflow: hidden;
  overflow-y: hidden;
  padding-top: 102px;
  padding-left: 10px;
  padding-right: 10px;
  position: fixed;
  top: 0;
  transition: width 160ms ease-in-out;
  width: 283px;
  z-index: 98;
  // &:hover {
  //   overflow-y: auto;
  // }
  &__title {
    left: 50%;
    line-height: 20px;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 40px;
    transform: translate(-50%, 0);
  }
  &__logo {
    background-image: url('/images/logo.svg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 227px 46px;
    display: block;
    height: 46px;
    transition: width 160ms ease-in-out;
    width: 227px;
  }
  &__list {
    margin: 0;
    padding: 0;
  }
  &__item {
    display: block;
    color: white;
  }
  &__link {
    align-items: center;
    background-color: $white;
    color: $green-dark;
    display: flex;
    font-weight: 500;
    padding: px-to-rem(16);
    padding-left: px-to-rem(24);
    transition: background-color 160ms ease-in-out;
    width: 100%;
    will-change: background-color, padding;

    &:hover,
    &:focus,
    &:active:focus {
      background-color: $green-transparent;
      text-decoration: none;
    }
  }
  &__link__icon {
    font-size: px-to-rem(24);
    margin-right: px-to-rem(16);
    transition: transform 160ms ease-in-out;
  }
  &__link--active {
    background-color: $green-transparent;
  } // Toggle Button
  &__toggle-button {
    @extend .layout-sidebar__link;
    justify-content: flex-start;
    &:hover {
      #{$parent}__toggle-button__icon {
        transform: rotateY(0deg) scale(1.2);
      }
    }
  }
  &__toggle-button__icon {
    font-size: px-to-rem(30) !important; // Its visually smaller
    margin: 0;
    margin-right: 0;
    transform: rotateY(0deg) scale(1);
    transition: transform 160ms ease-in-out;
    will-change: transform;
  } // Modifiers
  .layout--sidebar-collapsed & {
    width: 56px;
    overflow: hidden;
    #{$parent}__logo {
      width: 38px;
    }
    #{$parent}__link {
      padding-right: 0;
    }
    // Toggle Button
    #{$parent}__toggle-button__icon {
      transform: rotateY(180deg) scale(1);
    }
    #{$parent}__toggle-button:hover {
      #{$parent}__toggle-button__icon {
        transform: rotateY(180deg) scale(1.2);
      }
    }
    #{$parent}__toggle-button__text {
      display: none;
    }
  }
}

.layout--sidebar-collapsed .layout-sidebar .layout-sidebar__link {
  padding-left: px-to-rem(16);
}
