.percentage-input {
    display: inline-block;
    margin: 0 10px;
    max-width: 100px;
    padding: 0;
    .fl__icon {
        font-size: 1.8rem;
        margin-top: -9px;
    }
    .fl__label {
        display: none;
    }
    .form-control {
        padding-left: 25px;
    }
}

