@font-face {
  font-family: 'Gotham';
  src: url('./subset-GothamBold.woff2') format('woff2'),
    url('./subset-GothamBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('./subset-Gotham-Book.woff2') format('woff2'),
    url('./subset-Gotham-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('./subset-Gotham-Light.woff2') format('woff2'),
    url('./subset-Gotham-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('./subset-Gotham-Medium.woff2') format('woff2'),
    url('./subset-Gotham-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
