.stat {
  color: $green-dark;
  margin-bottom: 10px;
  min-height: 88px;
  padding-left: (48px + 16px);
  position: relative;
  &__icon {
    font-size: 4.4rem;
    height: 48px;
    line-height: 48px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 48px;
  }
  &__description {
    color: $green-dark;
    p {
      margin-bottom: 0;
    }
  }
  &--variant {
    margin: 0;
    min-height: 114px;
    padding-left: (62px + 10px);
    .stat__icon {
      font-size: 6rem;
      height: 62px;
      left: 0;
      line-height: 62px;
      top: 27px;
      width: 62px;
    }
    .stat__description {
      color: $gray;
      padding-top: 36px;
    }
  } // Smaller
  &--smaller {
    margin: 0;
    min-height: 80px;
    padding-left: (48px + 10px);
    .stat__icon {
      font-size: 6rem;
      height: 48px;
      left: 0;
      line-height: 48px;
      top: 16px;
      width: 48px;
    }
    .stat__description {
      color: $gray;
      padding-top: 28px;
    }
  }
}
