.closable-card {
  border-radius: 2px;
  background-color: $white;
  border: 0;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: $gray-dark;
  display: block;
  position: relative;

  &:hover {
    .closable-card__icon {
      display: block;
    }
  }
  &__icon {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
  }
}
