// Header
.layout-header {
  align-items: center;
  background-color: $green-dark;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.12), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
  color: $green-dark;
  display: flex;
  height: $header-height;
  left: 0;
  padding: px-to-rem(24);
  position: absolute; // it's not clear, but i prefer it like that
  top: 0;
  width: 100%;
  z-index: 99999;

  &__title {
    margin: 0;
  }

  &__logo {
    background-image: url('/images/white_logo.svg');
    background-repeat: no-repeat;
    background-size: 173px 54px;
    display: block;
    height: 54px;
    width: 200px;
  }

  &__nav {
    align-items: center;
    display: flex;
    padding: 0;
    margin: 0;

    > li {
      margin: 0 px-to-rem(12);

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      > a {
        color: $white;
        display: block;

        .label {
          font-size: 2.1428571rem;
        }

        &:hover {
          color: lighten($white, 10%);
          text-decoration: none;
        }
      }
    }

    > .divider {
      background-color: #d8d8d8;
      height: $header-height;
      margin: 0 px-to-rem(24);
      opacity: 0.2;
      width: 1px;
    }
  }

  &__dropdown {
    margin: 0 !important;

    .dropdown__toggle {
      background-color: transparent;
      border: 0;
      color: $white;
      font-size: 1rem;
      font-weight: 400;
      height: auto;
      line-height: 1;
      text-align: left;
      outline: 0;
      padding: 0;

      .mdi {
        font-size: px-to-rem(24);
        margin: 0;
      }
    }

    .dropdown__menu {
      left: auto;
      min-width: 220px;
      padding: 8px 12px;
      right: -20px;

      a {
        color: $green-dark;
        font-weight: $font-weight-semibold;
        text-align: center;
      }
    }
  }
}

.user-image {
  $userImageSize: px-to-rem(48);
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  height: $userImageSize;
  margin-right: px-to-rem(8);
  width: $userImageSize;
}

.user-name {
  align-items: center;
  display: flex;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0.5px;
}
