.form-label {
  width: 100%;
}

.select-placeholder--black {
  .Select-placeholder {
    color: #333;
  }
}

.Select-menu-outer {
  z-index: 100
}

.Select-placeholder {
  font-size: 1rem;
}

.select-searchable {
  .Select-control {
    cursor: text;
  }
}

.select-variant {
  height: 44px;

  .Select-control {
    height: 100%;
    border-radius: 0 !important;
    border-bottom-right-radius: 2px !important;
    border-top-right-radius: 2px !important;
    border: 0;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    color: #1a3668;
    font-size: 1rem;
    padding: 0.71428571rem 1.14285714rem;
    width: 100%;
  }

  .Select-value {
    padding-top: 5px;
    font-weight: 500;
  }
}

.form-control,
.Select-control,
.form-control:focus,
.Select-control:focus {
  background: transparent;
}

.input-wrapper.has-error {
  margin-top: 0px;
}

.input-wrapper {
  margin-bottom: px-to-rem(20);

  &+&:not([class*='col-']) {
    margin-left: px-to-rem(16);
  }

  .form-control {
    background-color: transparent;
    width: 100%;

    &:active,
    &:focus,
    &:hover {
      outline: 0 none;
    }
  }

  .form-text.text-muted {
    color: #941313 !important;
  }

  //This is used to avoid overlapping on components
  &--datepicker {
    position: relative;
    z-index: 10;
  }

  .form-label {
    font-size: px-to-rem(16);
    font-weight: 500;
    letter-spacing: 0.11px;
    margin-bottom: 0;
    position: relative;
    width: 100%;

    .label {
      display: block;
      margin-bottom: px-to-rem(5);
    }
  }

  .form-control,
  .Select-control {
    background-color: transparent;
    border: 1px solid rgba(216, 216, 216, 0.6);
    border-radius: 4px;
    color: $text-color;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 17px;
    padding: px-to-rem(8) px-to-rem(4) px-to-rem(8) px-to-rem(12);

    &:focus {
      border-color: rgba($green-light, 0.4);
      outline: none;
    }
  }

  .Select-input {
    height: 0;
  }

  .Select-control {
    overflow: auto;
    padding-bottom: 6px;
    position: relative;
  }
}

.has-error {

  .form-control,
  .form-control:focus {
    box-shadow: none;
    color: $gray;

    &::placeholder {
      color: $gray;
    }
  }
}

.Select--single {
  input {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.Select-input {
  height: auto;

  &>input {
    padding: 0;
    margin-left: px-to-rem(-10);
    display: block;
  }
}

.Select-arrow-zone {
  padding: 0px;
}

.form-label.select-container--with-icon .Select-arrow {
  display: none;
}
