.time-input {
    background: none;
    border-bottom: 1px solid $gray-dark;
    width: 110px;
    margin: 0;
    input {
        background-color: transparent !important;
        border: 0;
        border-radius: 0;
        color: $green-dark !important;
        font-size: 1rem;
        font-weight: $font-weight-bold;
        height: 34px;
        padding: 10px 0 8px;
        text-align: center;
    }
    &.full-width {
        input {
            text-align: left;
        }
    }
}

.rc-time-picker-panel-input {
    color: $green-dark;
    font-size: 1rem;
    font-weight: $font-weight-bold;
    text-align: center;
}

.rc-time-picker-panel-inner {
    transform: translate(-30px, -2px);
}

