// Breadcrumb
.breadcrumb {
  background-color: transparent;
  margin-bottom: 0;
  padding-left: 0;
  padding-top: 0;
  a {
    color: $green;
  }
  &-item {
    color: $green;
    margin-right: 14px;
    vertical-align: middle;
    &:before {
      display: none;
    }
  }
  &-item--separator {
    font-size: 24px;
    line-height: 22px;
  }
  & &-item.active {
    color: $green;
    font-weight: bold;
  }
}
