// Confirmation Modal
.confirmation-modal {
  @extend %cm !optional;
  .sa-icon {
    @extend %cm__icon !optional;
  }
  h2 {
    @extend %cm__title !optional;
  }
  p {
    @extend %cm__text !optional;
  }
  .sa-button-container {
    @extend %cm__button-container !optional;
    .cancel {
      @extend %cm__button-cancel !optional;
      @extend .btn;
    }
    .confirm {
      @extend %cm__button-confirm !optional;
      @extend .btn-primary;
    }
  }
}

%cm {
  padding-bottom: 30px;
}

%cm__text {
  font-weight: $font-weight-regular;
}

%cm__button-cancel {
  @extend .btn;
  background-color: $gray-lighter !important;
  border: none;
  border-radius: 25px;
  box-shadow: none !important;
  color: $gray-dark;
  font-weight: $font-weight-bold;
  min-width: 130px;
  &:hover,
  &:focus,
  &:active {
    background-color: lighten($primary-main-color, 5%);
    color: $gray-dark;
  }
  &:active:focus,
  &:active:hover {
    background-color: darken($primary-main-color, 10%);
    border-color: $primary-main-color;
    color: rgba(0, 0, 0, 0.6);
  }
}

%cm__button-confirm {
  @extend .btn;
  background-color: $secondary-main-color !important;
  border: none;
  border-radius: 25px;
  box-shadow: none !important;
  color: white;
  font-weight: $font-weight-bold;
  min-width: 130px;
  &:hover,
  &:focus,
  &:active {
    background-color: lighten($secondary-main-color, 5%);
    color: white;
  }
  &:active:focus,
  &:active:hover {
    background-color: darken($secondary-main-color, 10%);
    border-color: $secondary-main-color;
    color: rgba(255, 255, 255, 0.6);
  }
}
