.modal {
  &__overlay {
    // Position
    bottom: 0px;
    left: 0px;
    overflow-x: auto;
    position: fixed;
    right: 0px;
    top: 0px;
    text-align: center;
    z-index: 999; // Styles
    background-color: rgba(0, 0, 0, 0.45);
  }
  &__content {
    background: rgb(255, 255, 255);
    border: 0;
    display: inline-block;
    outline: none;
    margin-bottom: 20px;
    margin-top: 100px;
    padding: 20px;
    text-align: left;
    width: 80%;
  }
  &--is-open {
    overflow: hidden;
  }
}

.modal--new-offer {
  width: 820px;
}
